*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 10px #c4c4c4;
    border-radius: 12px;
}

.active {
    animation: colors 1s ease infinite;
}

.focus {
    width: 110px;
    height: 110px;
}

@keyframes colors {
    0% {
        background-color: #faffaf;
    }

    25% {
        background-color: #96c9f4;
    }

    50% {
        background-color: #3fa2f6;
    } 

    100% {
        background-color: #f6e96e;
    } 
}